body {
	margin: 5% 25%;
	background-color: #406690;
	color: white;
	font-size: large;
	
}


.heading{
	display: flex;  
}
.siteName{
	font-size:large; 
}
.editProfile{
	text-align: center; 
}
.supportImg{
	width:100%;
}
.supportImgProfile{
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}